// _variables.scss
// ===================

@import "http://fonts.googleapis.com/css?family=Roboto+Slab:400,700";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700"
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css";

$background: #4f4f4f;
$lightGreen: #6ebb6b; //Used on dark grey bg
$mainColor: #BD0136;
$background: #4f4f4f;
$alternateSectionColor: #f2f2f2; // Light grey

#mainFont: 'Open Sans', sans-serif;
#navFont: 'Roboto Slab', serif;
#iconFont: 'FontAwesome';